@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Movie List";
}

@model IEnumerable<IS_413_Assignemnt_3.Models.Movie>
<div>
    <h2>Here are your movies</h2>
    <table>
        <thead>
            <tr><th>Category</th><th>Title</th><th>Year</th><th>Director</th><th>Rating</th><th>Edited</th><th>Lent To:</th><th>Notes</th></tr>
        </thead>
        <tbody>
            @foreach (IS_413_Assignemnt_3.Models.Movie x in Model)
            {
                
            <tr>
                <td>@x.Category</td>
                <td>@x.Title</td>
                <td>@x.Year</td>
                <td>@x.Director</td>
                <td>@x.Rating</td>
                <td>@x.Edited</td>
                <td>@x.LentTo</td>
                <td>@x.Notes</td>
                <td class="text-center">
                    <form asp-page-handler="Remove" method="post">
                        <input type="hidden" name="MovieID"
                               value="@x.MovieID" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            Remove
                        </button>
                    </form>
                </td>
                <td class="text-center">
                    <input type="button" value="Edit" onclick="window.location.href='/Home/EditMovie'" />
                </td>

            </tr>
                
            }
        </tbody>
    </table>
</div>